<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,
    initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible"
          content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
    <title>Data</title>
</head>
<body>
    <div>
        <h4></h4>
    </div>
    <h1 class="container center-align">All Data is Here!</h1>
    <div>
        <h1></h1>
    </div>
    <div>
        <h5 class="center-align green lighten-3"> You can find all the data about temperature, pH and conductivity from the Plenty River</h5>
        <h1></h1>
    </div>
        <p class="center-align">
            The aim of this project is to install smart water sensors into local areas known to be habitats for platypus.
            The will utilise environmental sensors connected to BBC Microbit which will allow the sensors to withdraw and
            store water quality information which is displayed nearby at signed stations. The signed stations will display
            the relevant information and act as a point where emergency information can be sent via 4G networks to relevant
            authorities. The equipment is to be designed utilising small-scale electronics powered by solar panels, as well
            as the BBC Microbit and E-waste which will allow for local students and community engagement. This allows the
            project to act as an educational tool that can raise awareness of Stormwater pollution.
        </p>
    <div>
        <h1></h1>
    </div>
    <div>
        <a href="last24HoursTemperature/" class="btn card-action">Last 24 Hours Temperature Data</a>
    </div>
    <h2></h2>
    <div>
        <a href="lastYearTemperature/" class="btn card-action">Last Year Temperature Data</a>
    </div>
    <h2></h2>
    <div>
        <a href="last24HoursConductivity/" class="btn card-action">Last 24 Hours Conductivity Data</a>
    </div>
    <h2></h2>
    <div>
        <a href="lastYearConductivity/" class="btn card-action">Last Year Conductivity Data</a>
    </div>
    <h2></h2>
    <div>
        <a href="last24HourspH/" class="btn card-action">Last 24 Hours pH Data</a>
    </div>
    <h2></h2>
    <div>
        <a href="lastYearpH/" class="btn card-action">Last Year pH Data</a>
    </div>
    <h2></h2>
    <div>
        <a href="http://127.0.0.1:8000/admin" class="btn card-action">Admin Login</a>
    </div>
    <h2></h2>
    <div>
        <a href="http://127.0.0.1:8000/" class="btn card-action">Back to Home</a>
    </div>
    <h2></h2>
    <div>
        <a href="http://127.0.0.1:8000/posts" class="btn card-action">All Posts</a>
    </div>
    <div>
        <h2></h2>
    </div>
</body>
</html>