<!DOCTYPE html>
<html lang="en">
<head>
    {% block page %}
    {% load staticfiles %}
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Rajdhani" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Questrial" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Gothic+A1" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{mainCSS}}">
    <link rel="stylesheet" type="text/css" href="{{navCSS}}">
    <link rel="stylesheet" type="text/css" href="{{slider}}">
    <link rel="stylesheet" type="text/css" href="{{socialIcons}}">
    <link rel="stylesheet" type="text/css" href="{{fontawesome}}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
    <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
    <title>MPL Maker's Club</title>
</head>
<body>
<script>
    $(document).ready(function {
        var height = window.height();
        ('.img-container').css({'height': height + 'px'});
    })
</script>
<div class="navbar">
            <nav>
                <ul>
                    <img src="{{logo}}">
                    <li class="navoption"><a href="javascript:void(1);" class="navelement">Home</a></li>
                    <li class="navoption"><a href="/about-us/" class="navelement">About</a>
                    </li>
                    <li class="navoption"><a href="javascript:void(1);" class="navelement">Projects</a>
                        <ul class="long-menu">
                            <li><a href="/wqcs/">Water Quality Checking System</a></li>
                            <li><a href="/rums/">Rainwater Usage Monitoring System</a></li>
                            <li><a href="/hkwts/">Robot Walking School Bus</a></li>
                            <li><a href="/tkp/">The Kangaroo Project</a></li>
                        </ul>
                    </li>
                     <li class="navoption"><a href="/md/" class="navelement">Monitoring Data</a>
                        <ul>
                            <li><a href="javascript:void(1);" class="submenu">Temperature</a>
                                <ul>
                                    <li><a href="/data/last24HoursTemperature/" target="_blank">Last 24 Hours</a></li>
                                    <li><a href="/data/lastYearTemperature/" target="_blank">Last Year</a></li>
                                </ul>
                            </li>
                            <li><a href="javascript:void(1);" class="submenu">Conductivity</a>
                                <ul>
                                    <li><a href="/data/last24HoursConductivity/" target="_blank">Last 24 Hours</a></li>
                                    <li><a href="/data/lastYearConductivity/" target="_blank">Last Year</a></li>
                                </ul>
                            </li>
                            <li><a href="javascript:void(1);" class="submenu-2">pH</a>
                                <ul>
                                    <li><a href="/data/last24HourspH/" target="_blank">Last 24 Hours</a></li>
                                    <li><a href="/data/lastYearpH/" target="_blank">Last Year</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="navoption"><a href="javascript:void(1);" class="navelement">Contact Us</a>
                        <ul>
                            <li><a href="/posts/">Post Feeds</a></li>
                            <li><a href="/contacts/">Contacts</a></li>
                        </ul>
                    </li>
                    <li class="navoption"><a href="/admin" target="_blank" class="navelement">Admin</a></li>
                </ul>
            </nav>
</div>
<div class="img-container" style="background-image:url({{ background }});" id="title">
    <h1>Mill Park Library Maker's Club</h1>
    <br>
    <h2>Working with the Whittlesea Council to Solve Major Problems</h2>
    <a class="learn-more" onclick="document.getElementById('description').scrollIntoView(true);"><i class="fas fa-chevron-down"></i></a>

</div>

<div class="text-container" id="description" style="padding-bottom:10%;">
    <br>
    <br>
    <h3>
        The Mill Park Library Maker's Club, in association with the Whittlesea Council,
        YPRL, Victorian State Government, Inspiring Australia initiative, The University
        of Melbourne, RMIT University, Deakin University, Yellowfin, Whittlesea Tech School
        , Melbourne Water and Lalor Secondary College are solving some of the most
        challenging environmental problems -
    </h3>
    <br>
    <ul style="list-style:circle inside;">
        <li>Using GPS trackers to monitor and save kangaroos</li>
        <li>Encouraging kids to walk to school by following a robot</li>
        <li>Monitoring the water quality in the Plenty River to save various wildlife species</li>
        <li>Monitoring how efficiently we are using rainwater</li>
    </ul>
</div>
<div style="background:#fff; padding-top:3.5%; padding-bottom:3.5%;">
</div>

<div class="slider">
    <figure>
        <div class="slide" style="background-image:url({{river}});">
            <h1>Water Quality Monitoring System</h1>
            <br>
            <h2>Using Water Pollution Sensors to Help Save the Platypuses</h2>
            <a href="/wqcs/" class="btn">LEARN MORE</a>
        </div>
        <div class="slide" style="background-image:url({{crosswalk}});">
            <h1>Robot Walking School Bus</h1>
            <br>
            <h2>Reducing Street Litter by Encouraging Kids to Walk to School</h2>
            <a href="/hkwts/" class="btn">LEARN MORE</a>
        </div>
        <div class="slide" style="background-image:url({{rain}});">
            <h1>Rainwater Usage Monitoring System</h1>
            <br>
            <h2>Monitoring How Efficiently We Are Using Rainwater</h2>
            <a href="/rums/" class="btn">LEARN MORE</a>
        </div>
        <div class="slide" style="background-image:url({{kangaroo}});">
            <h1>The Kangaroo Project</h1>
            <br>
            <h2>Using GPS Trackers to Help Save the Kangaroos</h2>
            <a href="/tkp/" class="btn">LEARN MORE</a>
        </div>
        <div class="slide" style="background-image:url({{background}});">
            <h1>More Projects Coming Soon</h1>
            <br>
            <h2>Check Out Our Other Projects</h2>
            <a href="javascript:void(1);" class="btn">LEARN MORE</a>
        </div>
    </figure>
</div>
<div style="background:#fff">
    <br>
</div>

<div class="img-container" style="background-image:url({{ stars }}); padding-top:5%; padding-bottom:5%; margin-bottom:23%;">
    <br>
    <h1>Make a Difference Today</h1>
    <h3>
        If you do have any questions or enquiries, please comment
        in the Posts Feeds Section, link below or just contact us.
    </h3>
    <div class="table">
        <table style="width:100%;">
            <tr>
                <td>
                    <a href="/contacts/" class="btn-left">CONTACTS</a>
                </td>
                <td>
                    <a href="/posts/" class="btn-right">POSTS FEEDS</a>
                </td>
            </tr>
        </table>
    </div>

</div>
<div class="footer" style="overflow-x:hidden;">
    <div id="footerTable" style="padding-top:2%;">
        <table style="width:80%; margin-left:16%;">
            <tr>
                <td class="img">
                    <img src="{{wts}}" style="width:90%;">
                </td>
                <td class="img" style="width:12%;">
                    <img src="{{ mu }}" style="width:50%;">
                </td>
                <td class="img" style="width:17%;">
                    <img src="{{ mw }}" style="width:70%; margin-left:-10%;">
                </td>
                <td class="img" style="width:7%;">
                    <img src="{{ deakin }}" style="width:90%; margin-left:-70%;">
                </td>
                <td class="img" style="width:10%;">
                    <img src="{{ RMIT }}" style="width:90%; margin-left:-35%;">
                </td>
                <td class="img">
                    <img src="{{ yf }}" style="margin-left:-5%; width:40%;">
                </td>
                <td class="img" style="width:15%;">
                    <img src="{{ lsc }}" style="width:70%; margin-left:-80%;">
                </td>
            </tr>
        </table>
    </div>
    <p style="padding-top:1%;">Copyright &copy; 2018-2019 Mill Park Library Makers Club Team. All Rights Reserved</p>
    <div>
        <table style="width:40%; margin-left:29.75%;">
            <tr>
                <td class="img" style="width:30%;">
                    <img src="{{cow}}" style="width:70%;">
                </td>
                <td class="img" style="width:40%;">
                    <img src="{{yprl}}" style="width:85%; margin-left:-5%;">
                </td>
                <td class="img" style="width:15%;">
                    <img src="{{vsg}}" style="width:95%; margin-left:-40%;">
                </td>
                <td class="img" style="width:15%;">
                    <img src="{{ia}}" style="width:65%;">
                </td>
            </tr>
        </table>
    </div>
    <br>
    <div>
        <table style="width:25%; margin-left:35%;">
            <tr>
                <td style="width:40%;">
                   <h3>
                       Follow Us Here:
                   </h3>
                </td>
                <td>
                    <a class="icon" href="https://github.com/rudrathegreat">
                        <i class="fab fa-github"></i>
                    </a>
                </td>
                <td>
                    <a class="icon" href="https://www.youtube.com/channel/UCMD4ZUhoBXZtWoKaL3l7_9w">
                        <i class="fab fa-youtube"></i>
                    </a>
                </td>
                <td>
                    <a class="icon" href="mailto:rudratheastronaut@gmail.com">
                        <i class="fas fa-envelope"></i>
                    </a>
                </td>
            </tr>
        </table>
    </div>
</div>
{% endblock %}
</body>
</html>