<!DOCTYPE html>
<html lang="en">
<head>
    {% block page %}
    {% load staticfiles %}
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Rajdhani" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Questrial" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Gothic+A1" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{navCSS}}">
    <link rel="stylesheet" type="text/css" href="{{mainCSS}}">
    <link rel="stylesheet" type="text/css" href="{{socialIcons}}">
    <link rel="stylesheet" type="text/css" href="{{fontawesome}}">
    <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
    <title>Posts</title>
</head>
<body>
<script>
    $(document).ready(function {
        var height = window.height();
        ('.img-container').css({'height': height + 'px'});
    })
</script>
        <div class="navbar">
            <nav>
                <ul>
                    <img src="{{logo}}">
                    <li class="navoption"><a href="../" class="navelement">Home</a></li>
                    <li class="navoption"><a href="/about-us/" class="navelement">About</a>
                    </li>
                    <li class="navoption"><a href="javascript:void(1);" class="navelement">Projects</a>
                        <ul class="long-menu">
                            <li><a href="/wqcs/">Water Quality Checking System</a></li>
                            <li><a href="/rums/">Rainwater Usage Monitoring System</a></li>
                            <li><a href="/hkwts/">Robot Walking School Bus</a></li>
                            <li><a href="/tkp/">The Kangaroo Project</a></li>
                        </ul>
                    </li>
                     <li class="navoption"><a href="/md/" class="navelement">Monitoring Data</a>
                        <ul>
                            <li><a href="javascript:void(1);" class="submenu">Temperature</a>
                                <ul>
                                    <li><a href="/data/last24HoursTemperature/" target="_blank">Last 24 Hours</a></li>
                                    <li><a href="/data/lastYearTemperature/" target="_blank">Last Year</a></li>
                                </ul>
                            </li>
                            <li><a href="javascript:void(1);" class="submenu">Conductivity</a>
                                <ul>
                                    <li><a href="/data/last24HoursConductivity/" target="_blank">Last 24 Hours</a></li>
                                    <li><a href="/data/lastYearConductivity/" target="_blank">Last Year</a></li>
                                </ul>
                            </li>
                            <li><a href="javascript:void(1);" class="submenu-2">pH</a>
                                <ul>
                                    <li><a href="/data/last24HourspH/" target="_blank">Last 24 Hours</a></li>
                                    <li><a href="/data/lastYearpH/" target="_blank">Last Year</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="navoption"><a href="javascript:void(1);" class="navelement">Contact Us</a>
                        <ul>
                            <li><a href="/posts/">Post Feeds</a></li>
                            <li><a href="/contacts/">Contacts</a></li>
                        </ul>
                    </li>
                    <li class="navoption"><a href="/admin" target="_blank" class="navelement">Admin</a></li>
                </ul>
            </nav>
    </div>
    <div class="img-container" style="background-image:url({{ stars }});">
        <h1>Posts Feeds Section</h1>
        <br>
        <h2>Any Questions? Mention Here.</h2>
        <a class="learn-more" onclick="document.getElementById('description').scrollIntoView(true);"><i class="fal fa-chevron-down"></i></a>

    </div>
    <div class="img-c" style="background:#fff; margin-bottom:23%; z-index:10000;">
    <br>
    <br>
    <br>
        <h4>{{message}}</h4>
    <br>
    <br>
    <br>
    </div>

<div class="footer" style="overflow-x:hidden;">
    <div id="footerTable" style="padding-top:2%;">
        <table style="width:80%; margin-left:16%;">
            <tr>
                <td class="img">
                    <img src="{{wts}}" style="width:90%;">
                </td>
                <td class="img" style="width:12%;">
                    <img src="{{ mu }}" style="width:50%;">
                </td>
                <td class="img" style="width:17%;">
                    <img src="{{ mw }}" style="width:70%; margin-left:-10%;">
                </td>
                <td class="img" style="width:7%;">
                    <img src="{{ deakin }}" style="width:90%; margin-left:-70%;">
                </td>
                <td class="img" style="width:10%;">
                    <img src="{{ RMIT }}" style="width:90%; margin-left:-35%;">
                </td>
                <td class="img">
                    <img src="{{ yf }}" style="margin-left:-5%; width:40%;">
                </td>
                <td class="img" style="width:15%;">
                    <img src="{{ lsc }}" style="width:70%; margin-left:-80%;">
                </td>
            </tr>
        </table>
    </div>
    <p style="padding-top:1%;">Copyright &copy; 2018-2019 Mill Park Library Makers Club Team. All Rights Reserved</p>
    <div>
        <table style="width:40%; margin-left:29.75%;">
            <tr>
                <td class="img" style="width:30%;">
                    <img src="{{cow}}" style="width:70%;">
                </td>
                <td class="img" style="width:40%;">
                    <img src="{{yprl}}" style="width:85%; margin-left:-5%;">
                </td>
                <td class="img" style="width:15%;">
                    <img src="{{vsg}}" style="width:95%; margin-left:-40%;">
                </td>
                <td class="img" style="width:15%;">
                    <img src="{{ia}}" style="width:65%;">
                </td>
            </tr>
        </table>
    </div>
    <br>
    <div>
        <table style="width:25%; margin-left:35%;">
            <tr>
                <td style="width:40%;">
                   <h3>
                       Follow Us Here:
                   </h3>
                </td>
                <td>
                    <a class="icon" href="https://github.com/rudrathegreat">
                        <i class="fab fa-github"></i>
                    </a>
                </td>
                <td>
                    <a class="icon" href="https://www.youtube.com/channel/UCMD4ZUhoBXZtWoKaL3l7_9w">
                        <i class="fab fa-youtube"></i>
                    </a>
                </td>
                <td>
                    <a class="icon" href="mailto:rudratheastronaut@gmail.com">
                        <i class="fas fa-envelope"></i>
                    </a>
                </td>
            </tr>
        </table>
    </div>
</div>
    </div>
    {% endblock %}
</body>
</html>