<!DOCTYPE html>
<html lang="en">
<head>
    {% block page %}
    {% load staticfiles %}
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Rajdhani" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Questrial" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Gothic+A1" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{navCSS}}">
    <link rel="stylesheet" type="text/css" href="{{mainCSS}}">
    <link rel="stylesheet" type="text/css" href="{{fontawesome}}">
    <link rel="stylesheet" type="text/css" href="{{socialIcons}}">
    <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
    <title>The Kangaroo Project</title>
</head>
<body>
<script>
    $(document).ready(function {
        var height = window.height();
        ('.img-container').css({'height': height + 'px'});
    })
</script>
    <div class="navbar">
            <nav>
                <ul>
                    <img src="{{logo}}">
                    <li class="navoption"><a href="../" class="navelement">Home</a></li>
                    <li class="navoption"><a href="/about-us/" class="navelement">About</a>
                    </li>
                    <li class="navoption"><a href="javascript:void(1);" class="navelement">Projects</a>
                        <ul class="long-menu">
                            <li><a href="/wqcs/">Water Quality Checking System</a></li>
                            <li><a href="/rums/">Rainwater Usage Monitoring System</a></li>
                            <li><a href="/hkwts/">Robot Walking School Bus</a></li>
                            <li><a href="/tkp/">The Kangaroo Project</a></li>
                        </ul>
                    </li>
                     <li class="navoption"><a href="/md/" class="navelement">Monitoring Data</a>
                        <ul>
                            <li><a href="javascript:void(1);" class="submenu">Temperature</a>
                                <ul>
                                    <li><a href="/data/last24HoursTemperature/" target="_blank">Last 24 Hours</a></li>
                                    <li><a href="/data/lastYearTemperature/" target="_blank">Last Year</a></li>
                                </ul>
                            </li>
                            <li><a href="javascript:void(1);" class="submenu">Conductivity</a>
                                <ul>
                                    <li><a href="/data/last24HoursConductivity/" target="_blank">Last 24 Hours</a></li>
                                    <li><a href="/data/lastYearConductivity/" target="_blank">Last Year</a></li>
                                </ul>
                            </li>
                            <li><a href="javascript:void(1);" class="submenu-2">pH</a>
                                <ul>
                                    <li><a href="/data/last24HourspH/" target="_blank">Last 24 Hours</a></li>
                                    <li><a href="/data/lastYearpH/" target="_blank">Last Year</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="navoption"><a href="javascript:void(1);" class="navelement">Contact Us</a>
                        <ul>
                            <li><a href="/posts/">Post Feeds</a></li>
                            <li><a href="/contacts/">Contacts</a></li>
                        </ul>
                    </li>
                    <li class="navoption"><a href="/admin" target="_blank" class="navelement">Admin</a></li>
                </ul>
            </nav>
    </div>
    <div class="img-container" style="background-image:url({{ kangaroo }});">
        <h1>The Kangaroo Project</h1>
        <br>
        <h2>Using Water Pollution Sensors to Help Save the Platypuses</h2>
        <a class="learn-more" onclick="document.getElementById('description').scrollIntoView(true);"><i class="fas fa-chevron-down"></i></a>
    </div>
    <div class="text-container" id="description" style="padding-bottom:5%;">
        <table id="descriptionTable">
            <tr>
                <td class="img" style=""><img src="{{kangaroo1}}" style="margin-top:60%;"></td>
                <td>
                    <p>
                        Our community used to be home to thousands of kangaroos. They are
                        Australia's national animal and have been respected for thousands
                        of years.
                    </p>
                    <br>
                    <p>
                        Since the Industrial Revolution, us humans have been colonising the
                        planet exponentially, transforming the face of the Earth to something
                        we are used to seeing everyday. The urban environment has been growing,
                        and will be growing, until there is no more land left.
                    </p>
                    <br>
                    <p>
                        In our community, the exponential growth of the urban environment has caused
                        the kangaroos to loose territory, thus trapping them with nowhere to go. If
                        the kangaroos get scared, they flee towards these corridors of green land.
                        These corridors have many obstacles in them, but the most fatal and roads and
                        highways. Drivers don't know when to slow down, because they do not know when
                        and how quickly a kangaroo might be crossing the road.
                    </p>
                    <br>
                    <p>
                        This results in fatal deaths and death tolls. Our community has the most death tolls
                        in the state. We need to save our kangaroos. If they die, then this could cause a
                        chain reaction in the rest of the ecosystem.
                    </p>
                    <br>
                    <p>
                       We, along with many professors from various universities across the state, would like
                        to make a change, and have proposed a solution to this ever-increasing issue.
                    </p>
                    <br>
                    <p>
                        The Kangaroo Project is a project that uses GPS trackers attached on the Kangaroo to
                        monitor the path and the current location of the kangaroo. If a kangaroo is close to a
                        road, then speed signs will change the speed to 40km/h or less. All of this data is
                        available on this website and in the future, in mobile apps.
                    </p>
                    <br>
                    <p>
                        A PyCom Module is used to collect the GPS coordinates of the kangaroo in latitude and longitude.
                        This data is then sent to a base station (i.e. another PyCom Module on top of a really high hill)
                        using the LoRa Network. The PyCom Module at the base station uses serial communication to pass the
                        data to the Particle Electron, which is then used to send the data to the Particle Cloud. The data
                        is then stored into a database which is then displayed here!

                        For the speed sign, the speed sign obtains data from the Particle Cloud. It then calculates how far
                        away it is from the sign. If the kangaroo is close, then it will change the speed to 40km/h or lower.
                    </p>
                    <br>
                    <p>
                        If you do have any questions or enquiries, please comment in the Posts
                        Feeds Section, link below or just contact us. All Data from the System
                        is also here.
                    </p>
                    <br>
                    <br>
                    <a href="/md/" class="btn">VIEW LIVE MONITORING DATA</a>
                </td>
                <td class="img">
                    <img src="{{kangaroo2}}" style="margin-bottom:130%;">
                </td>
            </tr>
        </table>
        
    </div>
<div class="footer" style="overflow-x:hidden;">
    <div id="footerTable" style="padding-top:2%;">
        <table style="width:80%; margin-left:16%;">
            <tr>
                <td class="img">
                    <img src="{{wts}}" style="width:90%;">
                </td>
                <td class="img" style="width:12%;">
                    <img src="{{ mu }}" style="width:50%;">
                </td>
                <td class="img" style="width:17%;">
                    <img src="{{ mw }}" style="width:70%; margin-left:-10%;">
                </td>
                <td class="img" style="width:7%;">
                    <img src="{{ deakin }}" style="width:90%; margin-left:-70%;">
                </td>
                <td class="img" style="width:10%;">
                    <img src="{{ RMIT }}" style="width:90%; margin-left:-35%;">
                </td>
                <td class="img">
                    <img src="{{ yf }}" style="margin-left:-5%; width:40%;">
                </td>
                <td class="img" style="width:15%;">
                    <img src="{{ lsc }}" style="width:70%; margin-left:-80%;">
                </td>
            </tr>
        </table>
    </div>
    <p style="padding-top:1%;">Copyright &copy; 2018-2019 Mill Park Library Makers Club Team. All Rights Reserved</p>
    <div>
        <table style="width:40%; margin-left:29.75%;">
            <tr>
                <td class="img" style="width:30%;">
                    <img src="{{cow}}" style="width:70%;">
                </td>
                <td class="img" style="width:40%;">
                    <img src="{{yprl}}" style="width:85%; margin-left:-5%;">
                </td>
                <td class="img" style="width:15%;">
                    <img src="{{vsg}}" style="width:95%; margin-left:-40%;">
                </td>
                <td class="img" style="width:15%;">
                    <img src="{{ia}}" style="width:65%;">
                </td>
            </tr>
        </table>
    </div>
    <br>
    <div>
        <table style="width:25%; margin-left:35%;">
            <tr>
                <td style="width:40%;">
                   <h3>
                       Follow Us Here:
                   </h3>
                </td>
                <td>
                    <a class="icon" href="https://github.com/rudrathegreat">
                        <i class="fab fa-github"></i>
                    </a>
                </td>
                <td>
                    <a class="icon" href="https://www.youtube.com/channel/UCMD4ZUhoBXZtWoKaL3l7_9w">
                        <i class="fab fa-youtube"></i>
                    </a>
                </td>
                <td>
                    <a class="icon" href="mailto:rudratheastronaut@gmail.com">
                        <i class="fas fa-envelope"></i>
                    </a>
                </td>
            </tr>
        </table>
    </div>
</div>
    {% endblock %}
</body>
</html>