<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,
    initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible"
          content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
    <title>Data</title>
    <title>Water Quality Checking System Application</title>
</head>
<body>
        <div>
        <h4></h4>
    </div>
    <h1 class="container center-align">Water Quality Checking System - Web Application</h1>
    <div>
        <h1></h1>
    </div>
    <div>
        <h5 class="center-align green lighten-3">Everything About Our Project is Explained Here</h5>
        <h1></h1>
    </div>
        <p class="center-align card-content">
            Water resources are getting more and more important with each passing day in case of survival of humanity.
            For this reason, assessing water resources’ quality and also monitoring them have attracted lots of attention
            in the recent years. Remote sensing has been growing widely in the last decade and its resources are very
            usable when it comes to water resources management.

        </p>
        <p class=" center-align card-content">
            ONE of Victoria’s oldest platypuses calls the Plenty River home. The population of platypuses is reducing in
            the Plenty River due to the rise in water pollution.
        </p>
        <p class=" center-align card-content">
            The aim of this project is to install smart water sensors into local areas known to be habitats for platypus.
            The will utilise environmental sensors connected to BBC Microbit which will allow the sensors to withdraw and
            store water quality information which is displayed nearby at signed stations. The signed stations will display
            the relevant information and act as a point where emergency information can be sent via 4G networks to relevant
            authorities. The equipment is to be designed utilising small-scale electronics powered by solar panels, as well
            as the BBC Microbit and E-waste which will allow for local students and community engagement. This allows the
            project to act as an educational tool that can raise awareness of Stormwater pollution.
        </p>

    <div>
        <h4 class="green lighten-3">How do we Know?</h4>
        <p>
            We know that good freshwater should have a conductivity value between 100 – 2000. Any higher than 10000 and
            it is then classified as industrial wastewater. pH on the other hand works with 2 ends (0 and 14) with 7 in
            the middle as the neutral state. The pH scale shows how much acidic or basic something is. Water tends to be
            around 5.5 to 7.5. Higher than 8 and the pH scale shows artificial liquids.
        </p>
    </div>
    <div>
        <h1></h1>
    </div>
    <h2></h2>
    <div>
        <a href="data/" class="btn card-action">All Data</a>
    </div>
    <div>

    </div>
    <h2></h2>
    <div>
        <h4 class="green lighten-3">The Sensing Component</h4>
        <p class="card-content">
                 This component sense the conductivity, pH and temperature values from the water on regular intervals.
                 It then sends this data to another BBC Microbit via radio signals. The sensing component is placed in
                 the water and powered by solar panels to make it gain clean energy.
        </p>
    </div>
    <h2></h2>
    <div>
        <h4 class="green lighten-3">Radio Signal to Mobile Data Transmitter</h4>
        <p class="card-content">

         Once data is received by the BBC MicroBit that is attached to an Arduino, The Arduino then
         transmits the data onto the 4G network, to make it available for further analysis. This
         component is attached to a display board which is located near a sidewalk close to the
         Plenty River. This board uses 4 LEDs indicators to show the water quality at a particular
         time. This board also educates information about the platypuses which live in the river.
         This component also uses solar panels to get power.

        </p>
        <p class="card-content">
         LEDs will give an indication of water pollution. Large 10mm LEDs were connected to 180
         ohm resistors.
        </p>
        <h6 class="card-content">
            Red - Highly Polluted - connected to pin 12
        </h6>
        <h6 class="card-content">
            Orange - Bad - connected to pin 8
        </h6>
        <h6 class="card-content">
            Green - Good - connected to pin 16
        </h6>
        <h6 class="card-content">
            Blue - Excellent - connected to pin 0
        </h6>
        <p class="card-content">
         The LEDs are connected to pins 12 and 8, and pins 16 and 0 of the BBC Micro:bit Motor
         Drive board Version2.
        </p>
        <p class="card-content">
         Pins 12 and 8 belong to one H Bridge Driver chip. Either pin 12 or pin 8 can be active
         (HIGH), but not both. Pins 16 and 0 belong to the second H Bridge Driver chip. Either
         pin 16 or pin 0 can be active (HIGH), but not both.
        </p>
        <p class="card-content">
         The board is designed to run motors (in pairs) and as such the pins are connected in
         pairs. The motor driver board uses a H Bridge driver chip, and as such if you try to
         run both pins at the same time the H bridge will automatically shut down to prevent
         damage.
        </p>

    </div>
    <h2></h2>
    <div>
        <h4 class="green lighten-3">Data Receiver and Storage Component</h4>
        <p class="card-content">
          This component consists of a BBC Microbit that receives the data from cloud using
          4G network and then pass that data to Raspberry Pi via serial port using decoder
          settings ‘UTF-8’. The Raspberry Pi process the data and save it in the data
          storage location. Data is stored in 3 separate data storage locations for pH,
          Conductivity and Temperature.
        </p>
    </div>
    <h2></h2>
    <div>
        <h4 class="green lighten-3">Water Quality Checking System - The Application that Graphs the Data</h4>
        <p class="card-content">
          This application allows user to extract data from the database and process it
          using Matplotlib library to plot various graphs (Line, Pie, Scattered graphs
          etc.). The application process data in yearly and daily wise and allows user
          to view daily and yearly wise graphs for each data value (Temperature,
          Conductivity and pH).
        </p>
    </div>
    <h2></h2>
    <div>
        <h4 class="green lighten-3">Water Quality Checking System - Web Application</h4>
        <p class="card-content">
          This web application allows user to view graphical data from anywhere using
          internet. The application extract data from the database and processes it
          using Matplotlib library to plot various graphs (Line, Pie, Scattered
          graphs etc.). The application process data in yearly and daily wise formats
          and allows user to view daily and yearly wise graphs for each data value
          (Temperature, Conductivity and pH).
        </p>
    </div>
    <h2></h2>
    <div>
        <h4 class="green lighten-3">Technologies Used</h4>
        <h6 class="card-content">
          BBC Microbit,
        </h6>
        <h6 class="card-content">
          Arduino,
        </h6>
        <h6 class="card-content">
          Solar Panels,
        </h6>
        <h6 class="card-content">
          Lithium Polymer Batteries,
        </h6>
        <h6 class="card-content">
          Raspberry Pi,
        </h6>
        <h6 class="card-content">
          Temperature, Conductivity and pH Sensors,
        </h6>
        <h6 class="card-content">
          Python, Micropython, C,
        </h6>
        <h6 class="card-content">
          Matplotlib, Django
        </h6>
    </div>
    <h2></h2>
    <div>
        <a href="admin/" class="btn card-action">Admin Login</a>
    </div>
    <div>
        <h2></h2>
    </div>
</body>
</html>
