* {
	margin:0;
	padding:0;
}

body {

}

.content {
    margin-top:50px;
}

nav {
    width:100%;
    height:60px;
    background-color:#fff;
    position:fixed;
    z-index:9000;
}

nav li {
    display:inline-block;
    position:relative;
}

nav p {
    margin-top:10px;
    font-family: 'Rajdhani', sans serif;
    color:#222;
    font-size:24px;
    line-height:55px;
    float:left;
    padding:0px 20px;
}


nav ul {
    float:left;

}

nav ul li {
    float:left;
    list-style:none;
    position:relative;
}

nav ul li a {
    display:block;
    font-family: 'Rajdhani', sans serif;
    color:#222;
    font-size:14px;
    padding:10px 14px;
    text-decoration:none;
}

nav ul li ul {
    float:left;
    display:none;
    position:absolute;
    background-color:#fff;
    padding:8px;
    width:180px;
}

nav ul li:hover ul {
    color:#c1c1c1;
    display:block;
    animation: navmenu 300ms;
}

nav ul li:before {
    content:'';
    display:block;
    height:3px;
    width:0%;
    background-color:#c1c1c1;
    position:absolute;
    transition:all ease-in-out 300ms;
    top:0px
}

nav ul li:hover:before {
    width:100%;
    top:0px;
    color:#c1c1c1;
}

nav a {
    color:#a1a1a1;
    text-transformation:uppercase;
}

nav a:hover {
    color:#79b9cf;
}

@keyframes navmenu {
    0% {
        opacity:0;
        top:68px;
    }
    100% {
        opacity:1;
        top:58px;
    }
}

nav ul li ul li a {
    float:left;
    padding: 8px 30px;
}

nav ul li ul li a:hover {
    background-color: #f3f3f3;

}

nav ul li ul li ul {
    display:none;
    visibility:hidden;
}

nav ul li ul li:hover ul {
    animation:navmenu;
    opacity:1;
    visibility:visible;
    background:#fff;
    display:block;
    position:absolute;
    width:140px;
    left:180px;
    top:0px;
}

.img-container {
    background-image:url('{{background}}');
    height:80%;
    background-position:center;
    background-repeat:no-repeat;
	background-size:cover;
	position:relative;
}

.inner-container {
    text-align:center;
    position:absolute;
    width:100%;
    color:white;
    height:auto;
    margin-top:200px;
    opacity:0;
    top:5px;
}

.img-container h1 {
    font-size:3em;
    font-family: 'Questrial', sans serif;
    text-align:center;
    color:#fff;
    animation:title 1000ms;

}

@keyframes title {
    0% {
        display:none;
        visibility:hidden;
        opacity:0;
        top:100px;
    }
    100% {
        opacity:1;
        top:0px;
        position:relative;
    }
}

.img-container h2 {
    margin-top:-17px;
    font-size:1.7em;
    font-family: 'Questrial', sans serif;
    text-align:center;
    font-weight:400;
    color:#fff;
    animation:title 1000ms;
}

a {
    text-align:center;
    margin-top:20px;
    font-size:1.3em;
    font-family:'Source Sans Pro', sans serif;
}

.img-container .btn {
    animation:title 1000ms;
    position:center;
    display: inline-block;
    width:200px;
    font-weight:bold;
    padding:10px;
    color:#fff;
    border: 4px solid #fff;
    text-align:center;
    outline:none;
    text-decoration:none;
    margin-left:550px;
    transition: background-color 0.2s ease-out, color 0.2s ease-out;
}

.btn:hover,.btn:active {
    text-align:center;
    background-color:#fff;
    color:#000;
    transition:background-color 0.3s ease-in, color 0.3s ease-in;
}


.text-container {
    background-color:#79b9cf;
    height:60%;
    background-position:center;
    background-repeat:no-repeat;
	background-size:cover;
	position:relative;
}

.inner-container {
    text-align:center;
    position:absolute;
    width:100%;
    color:white;
    height:auto;
    margin-top:200px;
    opacity:0;
    top:5px;

}

.text-container h3 {

    margin-top:-17px;
    padding:20px 50px;
    font-size:1.3em;
    font-family: 'Questrial', sans serif;
    font-weight:bold;
    text-align:center;
    font-weight:400;
    color:#fff;

}

.text-container p {
    margin-top:-17px;
    padding:20px 50px;
    font-size:1.1em;
    font-family: 'Source Sans Pro', sans serif;
    font-weight:bold;
    text-transform:uppercase;
    color:#fff;
}

.text-container .btn {
    position:relative;
    display: inline-block;
    width:200px;
    font-weight:bold;
    padding:10px;
    color:#fff;
    border: 4px solid #fff;
    text-align:center;
    outline:none;
    text-decoration:none;
    margin-left:550px;
    transition: background-color 0.2s ease-out, color 0.2s ease-out;
}

.btn:hover,.btn:active {
    text-align:center;
    background-color:#fff;
    color:#000;
    transition:background-color 0.3s ease-in, color 0.3s ease-in;
}

.imgc {
    background-image:url('{{river}}');
    height:60%;
    background-position:center;
    background-repeat:no-repeat;
	background-size:cover;
	position:relative;
}

.inner-container {
    text-align:center;
    position:absolute;
    width:100%;
    color:white;
    height:auto;
    margin-top:200px;
    opacity:0;
    top:5px;
}

.imgc h1 {
    font-size:3em;
    font-family: 'Gothic A1', sans serif;
    text-align:center;
    color:#fff;
}

.imgc h2 {

    margin-top:-17px;
    font-size:1.7em;
    font-family: 'Gothic A1', sans serif;
    text-align:center;
    font-weight:400;
    color:#fff;

}

.imgc .btn {
    position:center;
    display: inline-block;
    width:200px;
    font-weight:bold;
    padding:10px;
    color:#fff;
    border: 4px solid #fff;
    text-align:center;
    outline:none;
    text-decoration:none;
    margin-left:550px;
    transition: background-color 0.2s ease-out, color 0.2s ease-out;
}

.btn:hover,.btn:active {
    text-align:center;
    background-color:#fff;
    color:#000;
    transition:background-color 0.3s ease-in, color 0.3s ease-in;
}
.image-c {
    background-image:url('{{crosswalk}}');
    height:70%;
    background-position:center;
    background-repeat:no-repeat;
	background-size:cover;
	position:relative;
}

.inner-container {

    text-align:center;
    position:absolute;
    width:100%;
    color:white;
    height:auto;
    margin-top:200px;
    opacity:0;
    top:5px;
}

.image-c h1 {
    font-size:3em;
    font-family: 'Gothic A1', sans serif;
    text-align:center;
    color:#fff;
}

.image-c h2 {

    margin-top:-17px;
    font-size:1.7em;
    font-family: 'Gothic A1', sans serif;
    text-align:center;
    font-weight:400;
    color:#fff;

}

.image-c .btn {
    position:center;
    display: inline-block;
    width:200px;
    font-weight:bold;
    padding:10px;
    color:#fff;
    border: 4px solid #fff;
    text-align:center;
    outline:none;
    text-decoration:none;
    margin-left:550px;
    transition: background-color 0.2s ease-out, color 0.2s ease-out;
}

.btn:hover, .btn:active {
    text-align:center;
    background-color:#fff;
    color:#000;
    transition:background-color 0.3s ease-in, color 0.3s ease-in;
}

.image-container {
    background-image:url('{{rain}}');
    height:70%;
    background-position:center;
    background-repeat:no-repeat;
	background-size:cover;
	position:relative;
}

.inner-container {

    text-align:center;
    position:absolute;
    width:100%;
    color:white;
    height:auto;
    margin-top:200px;
    opacity:0;
    top:5px;
}

.image-container h1 {
    font-size:3em;
    font-family: 'Gothic A1', sans serif;
    text-align:center;
    color:#fff;
}

.image-container h2 {

    margin-top:-17px;
    font-size:1.7em;
    font-family: 'Gothic A1', sans serif;
    text-align:center;
    font-weight:400;
    color:#fff;

}

.image-container .btn {
    position:center;
    display: inline-block;
    width:200px;
    font-weight:bold;
    padding:10px;
    color:#fff;
    border: 4px solid #fff;
    text-align:center;
    outline:none;
    text-decoration:none;
    margin-left:550px;
    transition: background-color 0.2s ease-out, color 0.2s ease-out;
}

.btn:hover, .btn:active {
    text-align:center;
    background-color:#fff;
    color:#000;
    transition:background-color 0.3s ease-in, color 0.3s ease-in;
}

.img-c {
    background-image:url('{{stars}}');
    height:70%;
    background-position:center;
    background-repeat:no-repeat;
	background-size:cover;
	position:relative;
}

.inner-container {

    text-align:center;
    position:absolute;
    width:100%;
    color:white;
    height:auto;
    margin-top:200px;
    opacity:0;
    top:5px;
}

.img-c h1 {
    font-size:3em;
    font-family: 'Source Sans Pro', sans serif;
    text-transform:uppercase;
    text-align:center;
    color:#fff;
}


.img-c .btn {
    position:center;
    display: inline-block;
    width:200px;
    font-weight:bold;
    padding:10px;
    color:#fff;
    border: 4px solid #fff;
    text-align:center;
    outline:none;
    text-decoration:none;
    margin-left:550px;
    transition: background-color 0.2s ease-out, color 0.2s ease-out;
}

.btn:hover, .btn:active {
    text-align:center;
    background-color:#fff;
    color:#000;
    transition:background-color 0.3s ease-in, color 0.3s ease-in;
}

.footer {
    background-color:#02003b;
    height:60%;
    background-position:center;
    background-repeat:no-repeat;
	background-size:cover;
	position:relative;
}

.inner-container {
    text-align:center;
    position:absolute;
    width:100%;
    color:white;
    height:auto;
    margin-top:200px;
    opacity:0;
    top:5px;

}

.footer p {
    text-align:center;
    margin-top:-17px;
    padding:20px 50px;
    font-size:0.75em;
    font-family: 'Source Sans Pro', sans serif;
    font-weight:bold;
    text-transform:uppercase;
    color:#fff;
}

.footer img {
    padding-bottom:20px;
    padding-left:30px;
    padding-right:30px;
    display:inline-block;
    margin-top:10px;
}
